<%- include('../userPartials/header') %>


  <body>

    <!---- breadcrumbs ---->
    <div class="container-fluid">
      <div class="row justify-content-end" style="background-color: #e2e2e2;height: 30px;">

        <div class="col-7 col-md-7 col-lg-9">
          <h5>Add Address</h5>
        </div>

        <div class="col-5 col-md-4 col-lg-2">
          <nav aria-label="breadcrumb" style="margin-left: -50%;">
            <ol class="breadcrumb">

              <li class="breadcrumb-item " aria-current="page">
                <a href="#" style="text-decoration: none;color: black;">Your Address</a>
              </li>

              <li class="breadcrumb-item active" aria-current="page">
                Add Address
              </li>

            </ol>
          </nav>
        </div>
      </div>

    </div>




    <!------  Main content ---->
    <div class="container mt-5">
      <!-- <h1 class="text-center">Men's Cart</h1> -->
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <!-----form----->

          <div class="card"
            style="background-color: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <h3 class="card-header text-center">Add New Addresss</h3>
            <div class="card-body">

              <form id="addressForm">
                <div class="form-group mt-3 mb-3">
                  <label for="userId">Full Name(first & Last name)</label>
                  <input type="text" name="name" class="form-control" id="name" />
                </div>

                <div class="form-group mt-3 mb-3">
                  <label for="house">House no,Building Name</label>
                  <input type="text" name="address1" class="form-control" id="house" />
                </div>

                <div class="form-group mt-3 mb-3">
                  <label for="street">Area,Street</label>
                  <input type="text" name="address2" class="form-control" id="street" />
                </div>

                <div class="form-group mt-3 mb-3">
                  <label for="phone">Phone Number</label>
                  <input type="tel" name="phone" class="form-control" id="phone" />
                </div>

                <div class="form-group mt-3 mb-3">
                  <label for="phone2">Alternative Number</label>
                  <input type="tel" name="phone2" class="form-control" id="phone2" />
                </div>

                <div class="form-group mt-3 mb-3">
                  <label for="city">City</label>
                  <input type="text" name="city" class="form-control" id="city" />
                </div>

                <div class="form-group mt-3 mb-3">
                  <label for="land">Land Mark</label>
                  <input type="text" name="land" class="form-control" id="land" />
                </div>

                <div class="form-group mt-3 mb-3">
                  <label for="state">State</label>
                  <input type="text" name="state" class="form-control" id="state" />
                </div>

                <div class="form-group mt-3 mb-3">
                  <label for="zib">Pin-Code</label>
                  <input type="text" name="pin" class="form-control" id="zip" />
                </div>

                <div class="form-group mt-3 mb-3">
                  <label for="title">Address Title</label>
                  <input type="text" name="title" class="form-control" id="title" />
                </div>

                <button type="submit" class="btn " style="width: 30%;color: white;background-color:rgb(224, 36, 36);"
                  id="login-btn">Add Address</button>
              </form>

              <hr />

            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include('../userPartials/footer') %>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

      <script>
        $(document).ready(function () {
          $('#addressForm').validate({
            rules: {
              name: {
                pattern: /^[a-zA-Z]+(?: [a-zA-Z]+)*$/,
                required: true
              },
              address1: {
                required: true
              },
              address2: {
                required: true
              },
              phone: {
                pattern: /^\+?[1-9][0-9]{9,14}$/,
                required: true
              },
              phone2: {
                pattern: /^\+?[1-9][0-9]{9,14}$/,
                required: true,
                notEqualTo: "#phone"
              },
              city: {
                pattern: /^[a-zA-Z]+(?: [a-zA-Z]+)*$/,
                required: true
              },
              land:{
                pattern: /^[a-zA-Z]+(?: [a-zA-Z]+)*$/,
                required: true
              },
              state: {
                pattern: /^[a-zA-Z]+(?: [a-zA-Z]+)*$/,
                required: true
              },
              pin: {
                pattern: /^[0-9]{5,6}$/,
                required: true
              },
              title:{
                pattern: /^[a-zA-Z]+(?: [a-zA-Z]+)*$/,
                required:true
              },
            },
            messages: {
              name: {
                pattern: "Please enter a valid name."
              },
              address1: {
                required: "Address 1 is required."
              },
              address2: {
                required: "Address 2 is required."
              },
              phone: {
                pattern: "Please enter a valid phone number."
              },
              phone2: {
                pattern: "Please enter a valid phone number.",
                notEqualTo: "Phone2 should not be the same as Phone."
              },
              city: {
                pattern: "Please enter a valid city name."
              },
              land:{
                pattern: "Please enter a valid Land Mark."
              },
              state: {
                pattern: "Please enter a valid state name."
              },
              pin: {
                pattern: "Please enter a valid pin code."
              }
            },
            submitHandler: function (form, event) {
              event.preventDefault();
              const formData = { 
                name: form.name.value,
                address1: form.address1.value,
                address2: form.address2.value,
                phone: form.phone.value,
                phone2: form.phone2.value,
                city: form.city.value,
                land:form.land.value,
                state: form.state.value,
                pin: form.pin.value,
                addressTitle: form.title.value
              };
              
              fetch('/addressVerify', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
              })
                .then(response => response.json())
                .then(result => {
                  if (result.success) {
                    Swal.fire('Address saved successfully!', '', 'success').then(() => {
                      if(result.proceed){
                        window.location.href = '/checkout/address';
                      }else{
                        window.location.href = '/address'; // Redirect to OTP verification page or any other desired page
                      }
                    });
                  } else {
                    Swal.fire('Error!', 'There was a problem saving your address.', 'error');
                  }
                })
                .catch(error => {
                  Swal.fire('Error!', 'There was a problem with your request.', 'error');
                });
            }
          });
        });
      </script>

  </body>