<%- include('../userPartials/header') %>

<style>
/* Override Bootstrap input focus border */
.form-control:focus {
        box-shadow: none;
        border-color: #ced4da; /* or whatever color you want */
      }
      .card{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      #pass-btn{
        background-color: #e33e3e;
        color: white;
      }
      .breadcrumb-item + .breadcrumb-item::before{
        content:">";
      }

</style>

<body>
    
    
    <!------ main content ---->
    <div class="container mt-5">
        <!-- <h1 class="text-center">Men's Cart</h1> -->
        <div class="row justify-content-center">
          <div class="col-12 col-sm-12 col-md-8 col-lg-5">
            <!-----form----->
  
            <div class="card">
             
              <div class="card-body">

                <form id="recoveryForm">

                  <div class="form-group mt-3 mb-3">
                    <label for="password">Enter new password</label>
                    <input type="password" name="password" class="form-control" id="password" style="margin-top: 10px;" />
                  </div>

                  <div class="form-group mt-3 mb-3">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" style="margin-top: 10px;" />
                  </div>

                  <button type="submit" class="btn btn-block" style="width: 100%;color: white;margin-top: 15px;" id="pass-btn">Submit</button>
                </form>
  
                
              </div>
            </div>
          </div>
        </div>
      </div>
  

    <%- include('../userPartials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
       $(document).ready(function () {
        $('#recoveryForm').validate({
          rules: {
              password: {
                pattern: /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/,
                  required: true
              },
              confirmPassword:{
                equalTo: '#password',
                  required: true
              }
            },

            messages:{

            password:{
              pattern:"Password must be at least 6 characters long, and it must include letter, number, and special character.",
            }

          },

            submitHandler: async function (form, event) {
              event.preventDefault();

              const formData = {
                password: form.password.value,
              };

              try{

                const response = await fetch('/recoverPassVerify', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(formData)
                });

                const result = await response.json();

                if(result.success){
                  Swal.fire('Password Changed Successfully', '', 'success')
                  .then(() => {
                    window.location.href = '/login'
                  })
                }else{
                  swal.fire('Error Occured Password Not Changed', '', 'error')
                }

              }catch(error){
                console.error(error.message)
              }

            }
        })
      })
    </script>

</body>