<body>
    <div class="container" style="margin-top: 10%; text-align: center;">
        <div class="row">
            <div class="col">
                <h1>Oops...</h1>
                <h1 style="font-size: 100px; margin-bottom: 10px;">4<span style="color: orange;">0</span>4</h1>
                <p style="font-size: 15px;">The page you are looking for might have been removed,<br> had its name changed, or is temporarily unavailable.</p>
            </div>
        </div>
    </div>
</body>