

<!------ foooter ----->
<footer
  class="text-white pt-1 mt-5"
  style="background-color: rgb(234, 232, 232)"
>
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left" style="color: rgb(62, 60, 60)">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <div class="icons" style="margin-top: -1%">
          <i
            class="fa-brands fa-facebook-f"
            style="font-size: 24px; margin-left: -4%"
          ></i>
          <i
            class="fa-brands fa-square-instagram"
            style="font-size: 24px; margin-left: 4%"
          ></i>
          <i
            class="fa-brands fa-youtube"
            style="font-size: 24px; margin-left: 4%"
          ></i>
          <i
            class="fa-brands fa-twitter"
            style="font-size: 24px; margin-left: 4%"
          ></i>
        </div>

        <div>
          <h5
            class="text-uppercase mb-4 font-weight-bold"
            style="margin-top: 9%"
          >
            Men's Cart
          </h5>
        </div>
        <p>Copyright &#169; 2024 Men's Cart, Inc</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 col-xl-6">
        <p style="color: rgb(62, 60, 60)">
          leagal stuff | Privacy Policy | Security | Website Accessiblity |
          Manage Cookies
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


